<div class="modal-body">
  <form>

    <div class="row">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="row">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price">
    </div>
    <div class="row">
      <label for="images" class="form-label">Images</label>
      <input type="file" class="form-control" id="images">
    </div>
  </form>
</div>
