<div class="container">
  <div class="cards-global">
    <div class="card" *ngFor="let item of productList">
      <img src="{{../../../../images/1637.jpg" alt="noimage" />
      <h5 class="product-title">{{item.name}}</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ {{item.price}} </p>
      <p class="product-sku" title="{{item.sku}}"><strong>SKU:</strong> {{item.sku}}</p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button">Delete</button>
    </div>
  </div>
</div>
