<div class="container">
  <div class="cards-global">
    <div class="card" *ngFor="let item of productList">
      <img src="assets/images/1636.jpg" alt="noimage" />

      <h5 class="product-title">{{item.name}}</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ {{item.price}} </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div>
    <!-- <div class="card">
      <img src="assets/images/1637.jpg" alt="noimage" />

      <h5 class="product-title">Nike</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ 10000 </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div>
    <div class="card">
      <img src="assets/images/1653.jpg" alt="noimage" />

      <h5 class="product-title">Adidas</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ 2000 </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div>

    <div class="card">
      <img src="assets/images/1654.jpg" alt="noimage" />

      <h5 class="product-title">Bata</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ 29000 </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div>
    <div class="card">
      <img src="assets/images/1806.jpg" alt="noimage" />

      <h5 class="product-title">Bata</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ 2500 </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div>
    <div class="card">
      <img src="assets/images/2227.jpg" alt="noimage" />

      <h5 class="product-title">Shoe</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ 4500 </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div>
    <div class="card">
      <img src="assets/images/2399.jpg" alt="noimage" />

      <h5 class="product-title">Shoe</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ 4500 </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div>
    <div class="card">
      <img src="assets/images/2477.jpg" alt="noimage" />

      <h5 class="product-title">Shoe</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ 4500 </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div>
    <div class="card">
      <img src="assets/images/2504.jpg" alt="noimage" />

      <h5 class="product-title">Shoe</h5>
      <p class=" product-price" title="{{item.price}}"><strong>Price:</strong> $ 4500 </p>
      <button class="btn btn-primary edit-button">Edit</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(item.id)">Delete</button>
    </div> -->
  </div>
</div>
