<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-items-center d-flex">
      <i class="fas fa-store header-icon">&nbsp;
      </i><strong style="margin-right: 20px;">STORE</strong>



    </div>
    <!-- <div class="form-group">
      <input type="text" class="form" placeholder="search products">
      <span class="fas fa-search search-icon"></span>
    </div> -->

    <button class="btn btn-success add-product" type="button" data-toggle="modal" (click)="openForm()">
      Add Product
    </button>
  </div>
</header>
